<%= render "shared/header" %>

<div class="main">
  <div class="form-wrapper">

    <div class="top-message">
      <p>転職に伴う退職を考えている方向けに、その後のお金の収支を整理するためのサイトです。<br>
      フォームに金額を入力することで、退職後１年間のざっくりとした見積もりが可能です。<br>
      貯蓄とキャッシュフローを整理して、退職時期などの参考にしてください。<br>
      <%= fa_icon"info-circle" %> をクリックすると詳しい説明や参考になるリンクが表示されます。
      </p>
      <div class="term">
        <a class="js-modal-open" href=""    data-target="modal00">利用規約</a>
        <div id="modal00" class="modal js-modal">
          <div class="modal_bg js-modal-close">
          </div>
          <div class="modal_content">
            <%= render "calculations/modal/terms" %>
          </div>
        </div>
      </div>
    </div>

    <%= form_with url: root_path do |f| %>

      <div class="contents-wrapper">
        <div class="h2-box">
          <h2>毎月の支出</h2>
          <%= image_tag 'money_fly_yen.png', class:"h2-image" %>
        </div>
        <p class="error-massage" id="spending-error"></p>
        <div class="content-box">
          <h3>国民年金 <a class="js-modal-open" href="" data-target="modal01"><%= fa_icon"info-circle" %></a> </h3>
          <div class="content">
            <p>日本に住む20歳以上60歳未満のすべての人が加入します。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"nenkin-form" , value:"16540", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal01" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/nenkin" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>国民健康保険  <a class="js-modal-open" href="" data-target="modal02"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>会社の健康保険に加入していない方が加入します。<br>
            ※支払いは毎月ではありませんが、月あたりの金額を知っておくと便利です。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"kokuho-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal02" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/kokuho" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>住民税  <a class="js-modal-open" href="" data-target="modal03"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>会社に勤めていない場合は、自分で納める必要があります。<br>
            ※支払いは毎月ではありませんが、月あたりの金額を知っておくと便利です。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"juumin-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal03" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/juumin" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>生活費  <a class="js-modal-open" href="" data-target="modal04"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>上の３つを除いて、今の月の生活費を入力してください。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"seikatu-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal04" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/seikatu" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>その他の固定支出 </h3>
          <div class="content">
            <p>他に毎月の決まった支出がある場合は入力してください。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"other-spending-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
          支出の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="spending-sum">
              16,540
            </div>
            円
          </div>
        </div>
      </div>

      <div class="contents-wrapper"> 
        <div class="h2-box">
          <h2>退職後の収入</h2>
          <%= image_tag 'fuutou.png', class:"h2-image" %>
        </div>
        <p class="error-massage" id="income-error"></p>
        <div class="content-box">
          <h3>退職金  <a class="js-modal-open" href="" data-target="modal06"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>退職金のほかにも会社から支給されるものがある時は、全ての合計額を入力してください。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form income-form", id:"taisyoku-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal06" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/taisyoku" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>失業手当  <a class="js-modal-open" href="" data-target="modal07"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <div class="content-sub">
              <p>基本手当日額×30の金額を入力してください。<br>また、給付制限の有無と給付日数を選択してください。</p>
              <div class="radio-box">
                <div class="radio">
                  <%= f.radio_button :limit, :true, checked: true %>
                  <%= f.label :gender, "給付制限あり" %><br>
                  <%= f.radio_button :limit, :false %>
                  <%= f.label :gender, "給付制限なし" %>
                </div>
                <div class="radio">
                  <%= f.radio_button :benefit_date, :date90, checked: true %>
                  <%= f.label :gender, "90日" %>
                  <%= f.radio_button :benefit_date, :date120 %>
                  <%= f.label :gender, "120日" %>
                  <%= f.radio_button :benefit_date, :date150 %>
                  <%= f.label :gender, "150日" %>
                  <%= f.radio_button :benefit_date, :date180 %>
                  <%= f.label :gender, "180日" %><br>
                  <%= f.radio_button :benefit_date, :date210 %>
                  <%= f.label :gender, "210日" %>
                  <%= f.radio_button :benefit_date, :date240 %>
                  <%= f.label :gender, "240日" %>
                  <%= f.radio_button :benefit_date, :date270 %>
                  <%= f.label :gender, "270日" %>
                </div>
              </div>
            </div>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form income-form", id:"situgyou-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal07" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/situgyou" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>その他の固定収入 </h3>
          <div class="content">
            <p>上２つの他に毎月の決まった収入がある場合は入力してください。</p>
            <div class="prise-form-box">
              <%= f.text_field :nenkin, class:"price-form income-form", id:"other-income-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
          収入の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="income-sum">
              0
            </div>
            円
          </div>
        </div>
      </div>

      <div class="contents-wrapper"> 
        <div class="h2-box">
          <h2>現在の貯蓄</h2>
          <%= image_tag 'money_bag_yen.png', class:"h2-image" %>
        </div>
        <p class="error-massage" id="stock-error"></p>
        <div class="content-box">
          <h3>貯蓄額  <a class="js-modal-open" href="" data-target="modal09"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>退職後に切り崩しできる、今の貯蓄額を入力してください。</p>
            <div class="prise-form-box">
              <%= f.text_field :stock, class:"price-form stock-form", id:"stock-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal09" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/stock" %>
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
            貯蓄の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="stock-sum">
              0
            </div>
            円
          </div>
        </div>
      </div>

      <div class="btn-area">
        <button type="button" name="table" class="btn reset-btn">入力内容をリセット</button>
        <button type="submit" name="table" class="btn create-btn">表を作成・更新</button>
      </div>

    <% end %>
  </div>

  <div class="table-wrapper">
    <%= render "table" %>
  </div>

  <!-- トップへ移動ボタン -->
  <div class="page_top" id="page_top"><span>TOP</span></div>
</div>

<%= render "shared/footer" %>
