<%= render "shared/header" %>

<div class="main">
  <div class="calc-wrapper">

    <div class="top-message">
      <p>これから転職を考えている方向けに、退職後の支出と収入を整理するためのサイトです。<br>
      退職後は、給料から天引きされていたものを自分自身で支払うことになります。<br>
      貯蓄とキャッシュフローを整理して、退職時期などの参考にしてください。<br>
      <%= fa_icon"info-circle" %> をクリックすると詳細説明や参考リンクが表示されます。
      </p>
    </div>

    <%= form_with url: root_path do |f| %>

      <div class="spendings">
        <h2>毎月の支出</h2>
        <div class="content-box">
          <h3>国民年金  <a class="js-modal-open" href="" data-target="modal01"><%= fa_icon"info-circle" %></a> </h3>
          <div class="content">
            <p>日本国内に住む20歳以上60歳未満のすべての人が加入します。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"nenkin-form" , value:"16540", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal01" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/nenkin" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>国民健康保険  <a class="js-modal-open" href="" data-target="modal02"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>会社の健康保険に加入していない方が加入します。<br>保険料は市区町村によって変わります。<br>
            ※支払いは毎月ではありませんが、月あたりの金額を知っておくと便利です。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"kokuho-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal02" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/kokuho" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>住民税  <a class="js-modal-open" href="" data-target="modal03"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>会社に勤めていない場合は、個人で納める必要があります。<br>税額は前年の所得と市区町村によって変わります。<br>
            ※支払いは毎月ではありませんが、月あたりの金額を知っておくと便利です。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"juumin-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal03" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/juumin" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>生活費  <a class="js-modal-open" href="" data-target="modal04"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>月の生活費の平均を入力してください。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"seikatu-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal04" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/seikatu" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>その他の固定支出  <a class="js-modal-open" href="" data-target="modal05"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>上記以外にも毎月の固定支出がある場合は入力してください。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form spending-form", id:"other-spending-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal05" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/other_spending" %>
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
          支出の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="spending-sum">
              16,540
            </div>
            円
          </div>
        </div>
      </div>

      <div class="incomes"> 
        <h2>退職後の収入</h2>
        <div class="content-box">
          <h3>退職金  <a class="js-modal-open" href="" data-target="modal06"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>退職金ほか、退職時に会社から支給されるものがあれば合計額を入力してください。</p>
            <%= f.text_field :nenkin, class:"price-form income-form", id:"taisyoku-form" ,value:"0", maxlength:"8"%>円
          </div>
          <div id="modal06" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/taisyoku" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>失業手当  <a class="js-modal-open" href="" data-target="modal07"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>基本手当日額を入力してください。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form income-form", id:"situgyou-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal07" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/situgyou" %>
            </div>
          </div>
        </div>
        <div class="content-box">
          <h3>その他の固定収入  <a class="js-modal-open" href="" data-target="modal08"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>上記以外にも毎月の固定収入がある場合は入力してください。</p>
            <div>
              <%= f.text_field :nenkin, class:"price-form income-form", id:"other-income-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal08" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/other_income" %>
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
          収入の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="income-sum">
              0
            </div>
            円
          </div>
        </div>
      </div>

      <div class="stocks"> 
        <h2>現在の貯蓄</h2>
        <div class="content-box">
          <h3>貯蓄額  <a class="js-modal-open" href="" data-target="modal09"><%= fa_icon"info-circle" %></a></h3>
          <div class="content">
            <p>退職後切り崩せる現時点での貯蓄の総額を入力してください</p>
            <div>
              <%= f.text_field :stock, class:"price-form stock-form", id:"stock-form" ,value:"0", maxlength:"8"%>円
            </div>
          </div>
          <div id="modal09" class="modal js-modal">
            <div class="modal_bg js-modal-close">
            </div>
            <div class="modal_content">
              <%= render "calculations/modal/stock" %>
            </div>
          </div>
        </div>
        <div class="sum-box">
          <div class="sum-title">
            貯蓄の合計
          </div>
          <div class="sum-price-box">
            <div class="sum", id="stock-sum">
              0
            </div>
            円
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
