<h4>住民税</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　住民票をおいている都道府県、市区町村に納めるものです。給料を受け取っている間は、そこから天引きされるため自分で納めることはありません。退職してから転職までに期間が開く場合は、普通徴収（自分で納付）に切り替わることになります。納付は一括で行なうか、分割で行なうかのどちらかになります。<br>
    　金額は前年度の所得によって決まります。自治体によって僅かにですが税率が異なりますが、一般的には課税所得の約10％を納める事になります。自治体によっては金額のシミュレーションを用意しているので、概算が可能です。
    </p>
  </div>
  <div class="image-box">
    <%= image_tag "house.png",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "個人住民税（東京都）" ,"https://www.tax.metro.tokyo.lg.jp/kazei/kojin_ju.html",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "退職後の住民税の手続きや納付方法とは（エン転職）" ,"https://employment.en-japan.com/tenshoku-daijiten/10968/",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "住民税額シミュレーション（千代田区）" ,"https://zeisim.e-civion.net/tax-project/tax/chiyoda_top.html",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>