<h4>国民健康保険詳細</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　厚生年金（または共済年金）に加入している人は第2号被保険者と呼ばれ、自動的に国民年金にも加入します。
    給料を受け取っている間は、保険料はそこから天引きされるため自分で納めることはありません。
    退職後は第1号被保険者となり、納付書による納付や口座振替など、自分で納めます。
    </p>
  </div>
  <div class="image-box">
    <%= image_tag "hokensyou",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "国民年金保険料（日本年金機構）" ,"https://www.nenkin.go.jp/service/kokunen/hokenryo/20150313-02html",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "【図解】よくわかる年金の仕組み（厚生年金・国民年金）（みんなの介護）" ,"https://www.minnanokaigocom/guide/rougo-money/pension/",target: :_blank %>
</div>
<div class="js-modal-close">閉じる</div>