<h4>国民健康保険</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　退職すると会社で加入していた健康保険の被保険者資格はなくなってしまいます。退職から次の職場への入社まで期間が空くような場合には、任意継続被保険者制度の利用や国民健康保険への加入が必要です。<br>
    　保険料は前年の所得、世帯の資産、家族の人数などを基にして決まりますが、算出方法は市区町村によって変わります。納付の方法も変わってきますので、お住まいの市区町村の担当窓口で確認しましょう。また、自治体によっては計算シミュレーションを用意しているところがあります。お住まいの自治体以外のものを使うこともできますが、その場合は本来の金額から離れてしまう可能性が高いので注意です。
    </p>
    <div class="point">
      <ul>
        <li>会社に勤めている時は保険料の半分を会社が出してくれている！</li>
        <li>会社の保険を続けるか国民健康保険に入るかのどちらか！</li>
        <li>保険料は人によって変わる！</li>
      </ul>
    </div>
  </div>
  <div class="image-box">
    <%= image_tag "hokensyou.png",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "健康保険～役所・公的機関に行く前に～（doda）" ,"https://doda.jp/guide/naiteitaisyoku/kenkouhoken/",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "江戸川区国民健康保険料シミュレーション（江戸川区）" ,"https://www.city.edogawa.tokyo.jp/edg/simulation/keisan_kokuho.html",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>