<h4>生活費</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　住居費、水道光熱費、食費、通信費、保健医療費、交通費、教育費、娯楽費などに分けられます。金額は人それぞれではありますが、退職前に現在の自身の生活と、最低限に抑えた場合の生活費を把握しておくと良いでしょう。<br>
    　もし今の生活費が分からないという方は、マネーフォワードMEなどの個人用家計簿アプリを使ってみてください。クレジットカードや銀行口座を登録しておけばアプリが自動で仕分けをし、生活費を可視化してくれます。1、2ヶ月ほど使う事で、自身の生活費が把握できるはずです。
    </p>
    <div class="point">
      <ul>
        <li>毎月いくら使っているのかを整理しよう！</li>
        <li>家計簿アプリが便利！</li>
      </ul>
    </div>
  </div>
  <div class="image-box">
    <%= image_tag "seikatsuhi.png",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "世帯別！1カ月の生活費の平均はいくら？ 理想の割合も紹介（エネチェンジ）" ,"https://enechange.jp/articles/average-cost-of-living",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "Money Forward ME（Money Forward）" ,"https://moneyforward.com/",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>