<h4>失業手当</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　失業保険とは、公的保険制度の一種で、正式には「雇用保険」と言います。加入者は、失業した場合や自己都合での退職にあたり、「失業手当（正式には基本手当）」を受給することができます。失業手当を受け取るには条件がありますので、よく確認しておきましょう。年齢と退職前6カ月の賃金で金額が決まり、被保健期間や離職理由によって、給付日数が変わります。<br>
    　失業手当を受給するためにはハローワークで所定の手続きが必要です。申請後は、7日間の待機期間、3ヶ月の給付制限を経た後受給できます。ただし、会社都合により離職した「特定受給資格者」や、正当な理由がある離職と認められた「特定理由離職者」は給付制限が免除されます。
    </p>
  </div>
  <div class="image-box">
    <%= image_tag "fuutou.png",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "雇用保険手続きのご案内（ハローワーク）" ,"https://www.hellowork.mhlw.go.jp/insurance/insurance_guide.html",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "失業手当（失業保険）はどんな人がもらえる？　金額・期間・手続き方法を解説【社労士監修】（マイナビ転職）" ,"https://tenshoku.mynavi.jp/knowhow/caripedia/52",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>