<h4>貯蓄額</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　給料以外の収入がない場合、退職をしてしまうと貯蓄を切り崩して生活することになります。転職の際にも、交通費やスーツ代など、少なからず生活費以外の出費が発生するため、貯蓄はあるに越したことはありません。転職が完了するまでの期間や月の出費を考え、無理のない計画を立てましょう。
    </p>
  </div>
  <div class="image-box">
    <%= image_tag "money_chokinbako.png",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "転職時に貯金はいくら必要？転職にまつわるお金の話（リクナビNEXT）" ,"https://next.rikunabi.com/tenshokuknowhow/archives/11906/",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "お金を上手に貯める方法とは？ 意外と知らない貯金のコツ（エネチェンジ）" ,"https://enechange.jp/articles/savings-method",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>