<h4>退職金詳細</h4>
<div class="discribe-box">
  <div class="discribe">
    <p>　退職金の有無や金額、支給条件は会社によって様々です。会社の就業規則や規程を確認し、不明な点は担当部署へ確認しましょう。退職金は退職所得として扱われ、税制面で優遇される特徴があります。<br>
    　また、退職金とは異なりますが、企業年金や持株会などがあった場合に、それら扱いも重要になります。退職後のトラブルにつながらないよう。退職時には会社とよく相談して、認識違いがないようにしなければなりません。
    </p>
  </div>
  <div class="image-box">
    <%= image_tag "taisyoku",class:"modal-image" %>
  </div>
</div>
<h5>参考リンク</h5>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "退職金の平均相場と計算方法を徹底解説！勤続3年、20年、定年でもらえる額の差は決まる？（比較bizまとめ）" ,"hhttps://www.biz.ne.jp/matome/2002998/",target: :_blank %>
</div>
<div class="refーlink">
  <%= fa_icon"link" %><%= link_to "第１章　企業年金を受け取るまでに退職したらどうなるのでしょうか？（知るぽると）" ,"https://www.shiruporuto.jp/public/senior/pension/kigyo_nenkin/kigyo_nenkin3101.html",target: :_blank %>
</div>
<div class="js-modal-close close-btn">閉じる</div>